@import "public.css";
html{font-size:13.3333vw;}/* 100除以设计图百分之一(vw) */
html,body{
    width:100%;
}
.box{
    width: 90%;
    margin: 1rem auto;
    // background: #eee;
    // height: .1rem;
    padding: .1rem;
    // .first_ul{
    //     background:#aaa;
    //     padding: .1rem;
    //     .first_li{
    //         padding: .1rem .2rem;
    //         margin: .2rem 0;
    //         background: #eee;
    //         p{
    //             font: .36rem/1 "";
    //         }
    //     }
    // }
}
.mask{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,0.3);
    .index{
        position: absolute;
        text-align: center;
        width:2rem;
        height: 2rem;
        font: 1rem/2rem "";
        background: #fff;
        color:#000;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}